<%- include('../partials/head.ejs')%>
<main>
    <div class="page-title">
        <h1>Sign up</h1>
    </div>
    <form action="/auth/sign-up" method="POST" class="auth-form">
      
        <label for="username">Username:<br>
            <input type="text" name="username" id="username" />
        </label>
      
        <label for="password">Password:<br>
            <input type="password" name="password" id="password" />
        </label>
      
        <label for="confirmPassword">Confirm Password:<br>
            <input type="password" name="confirmPassword" id="confirmPassword" />
        </label>
      
        <button type="submit" class="submit-btn">Sign up</button>
    </form>

</main>

<%- include('../partials/foot')%>
