<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <nav>
        <a href="/cars">Home</a>        
        <% if (user) { %>
            <a href="/cars/new">Add Car</a>
            <div class="auth-group">
                <p>Welcome, <%= user.name %></p>
                <a href="/auth/sign-out">Sign out</a>
            </div>
        <% } else { %>
            <div class="auth-group">
                <p>Welcome, Guest</p>
                <a href="/auth/sign-in">Sign in</a>
                <a href="/auth/sign-up">Sign up</a>
            </div>
        <% } %>
    </nav>