<%- include('partials/head.ejs')%>
<div class="main">

    <div class="page-title">
        <h1>Nick's Car Blog</h1>
    </div>
        
    <% allCars.forEach(x=>{ %>
        <div class="home-car">
            <h1 class="text-center"><a href='/cars/<%= x._id%>'><%= x.name%></a></h1>
        </div> 
    <% }) %>

</div>

<%- include('partials/foot.ejs')%>