<%- include('partials/head.ejs')%>

<h1>Home Page</h1>

<% allCars.forEach(x=>{ %>
    <div class="post-container rounded bg-white mb-7 w-1/3 mx-auto">
        <h1 class="text-center"><a href='/car/<%= x._id%>'><%= x.name%></a></h1>
    </div> 
<% }) %>

<%- include('partials/foot.ejs')%>